/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.test {
  margin-top: 20px;
  text-align: center;
}

.footer {
  border-top: 1px black solid;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
}

.app-name {
  font-family: "Satisfy", cursive;
  font-size: 50px;
}

.footer-icon {
  font-size: 40px;
  padding: 20px;
}

.click-shadow:focus-visible,
.click-shadow:active {
  box-shadow: 0 0 0 0.2rem #354b32d7;
  -webkit-box-shadow: 0 0 0 0.2rem #71816f;
}
